.container-xxxl {
    max-width: 1400px;
    margin: 0 auto;
}
.bg-custom {
    background-color: #121212;
}
.card-bg {
    background-color: #32383e;
}
.card-date {
    left: 8px;
}
a:hover {
    opacity: 0.9;
    transition: opacity 0.5s ease;
}
.img-cropped {
    object-fit: cover;
    object-position: center center;
    width: 250px;
    height: 250px;
}
.kontak-img {
    width: 28px;
    height: 100%;
    object-fit: cover;
}
.error{
    color: #ff2424;
}
.btn-form {
    background-color: #454d55;
}
.btn-form:hover {
    background-color: #3c434a;
}